*{
    color: white;
}
body{
	font-family: arial, helvetica;
	background: #e8e8e8;
    background-image: url(./media/1366_2000.jpeg);
    background-size: cover;
}
.menu{
	list-style: none;
	padding: 0;
	background: #48055c;
	width: auto;
	max-width: auto;
	margin: auto;
    padding: 5px;
}
.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}
.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;
}
header{
	background-color: crimson;
	color: white;
}
main{
	background-color: #18055c;
    color: white;
}
.contacto-email{
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.555);
}
.button-email{
    color: black;
}
.footer-catalogo{
	background-color: black;
	padding: 50px;
	text-align: center;
	font-size: 20px;
}